body {
  background-color: gold;
  color: black;
	font-family: 'Times New Roman'
}

h1, h2, h3, td {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.backlink {
	margin-right: 10px;
	text-align: center;
}

table {
  border: 0px solid;
  border-collapse: collapse;
}

th, td {
  border: 2px solid olive;
  background-color: goldenrod;
}

.nav {
	border: 2px solid violet;
	background-color: gray;
}

a {
  color: crimson;
}

a:hover {
  color: snow;
}